<h3 class="align-center ">Comments</h3>
<% @post.comments.order(created_at: :desc).limit(n).each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-body padding-none">
      <div class="row">
        <div class="col-sm-2  ">
          <%= image_tag comment.user.profile_img.thumb.url, class: "img-rounded" %>
        </div>
        <div class="col-sm-7 ">
          <p class="comment-text"><b><%= comment.user.name %></b></p> <i><%= time_ago_in_words(comment.created_at) %></i> ago
        </div>
      </div>
    </div>
    <div class="panel-footer">
        <%= comment.text %>
    </div>
  </div>
<% end %>
<div class="align-center">
  <% if (@post.comments.count >=3 ) %>
    <%=link_to 'Show all', '#',  class: "btn btn-success show_all ", remote: true%>
    <% elsif (@post.comments.count <1) %>
     <p>
      No comments for this post
     </p>
    <%end%>
  </div>
