<p>
  Hello
<%= @user.name%>

<%= @user.email%>
</p>
<%= form_for @user, url: user_path(@user), method: :patch do |f|%>

<%= render :partial => 'password', :locals => { :f => f} %>

   <p class="align-center">
    <%= f.submit "Reset", class: "btn btn-primary " %>
    </p>
<% end %>
