
<div class="row">

<div class="col-sm-4">
  <h4><%= @user.name %></h4>
  <h6><%= @user.email %></h6>
<%= image_tag @user.profile_img.small.url, class: "" %>
<% if current_user == @user %>
<h6><%=link_to "Edit", edit_user_path(@user) %></h6>
<% end %>

</div>
<div class="col-sm-4">
Posts:  <h1><%= @user.posts.count %></h1>
<% @user.posts.each do |post|%>
<p>
  <h6><%=link_to post.title, post_path(post) %></h6>
</p>
<% end %>
Comments:  <h1><%= @user.comments.count %></h1>
<% @user.comments.each do |comment|%>
<p>
  <h6><%= comment.text %></h6>
</p>
<% end %>
</div>
</div>
