<div class="row ">

  <div class="col-sm-7 add-margin ">
    <% if @user.posts.last %>
    <h3 class="align-center">Last post</h3>
    <div class="panel panel-default ">
      <div class="panel-body">
        <h4>
          <%=link_to  @user.posts.last.title ,@user.posts.last %>
        </h4>
      </div>
    </div>
    <% end %>
    <% if @user.comments.last%>
    <h3 class="align-center"><%=link_to 'Post with last comment', @user.comments.last.post %></h3>
    <div class="panel panel-default ">
      <div class="panel-body">
        <h4>
        <%=  @user.comments.last.text %>
        </h4>
      </div>
    </div>
    <% end %>
    <h4 class="align-center border padding add-margin">
      <b>Find me on map</b>
    </h4>
  <div class="col-sm-12    padding">
    <div style='width: 100%;'>
      <div id="map" style='width: 100%; height: 300px;'></div>
    </div>
  </div>
  </div>
  <div class="col-sm-4 add-margin ">
      <%= render partial: "shared/profile" %>
  </div>
  </div>


</div>

</li>
</ul>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers([
{ "lat":  <%= @user.latitude %>,
 "lng": <%= @user.longitude %>,
 "infowindow": "<b><%= @user.name %></b>" }]);
handler.map.centerOn([<%= @user.latitude %>, <%= @user.longitude %>]);
});
</script>
