<p style="text-align: center">
  <%= image_tag @user.profile_img.url, class: "img-thumbnail" %>
</p>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">
      <%= @user.name %>
    </span>
    Nickname:
  </li>
  <li class="list-group-item">
    <span class="badge">
          <%= @user.email %>
    </span>
    Email:
  </li>
  <li class="list-group-item">
    <span class="badge">
      <%= @user.posts.count %>
    </span>
    Posts:
  </li>
  <li class="list-group-item">
    <span class="badge">
      <%= time_ago_in_words(@user.created_at)%> ago
    </span>
    Joined:
  </li>
  <li class="list-group-item">
    <h4 class="align-center">
      <%=link_to 'Profile', user_path(@user), class: "align-center"%>
    </h4>
  </li>
</ul>
