<p class="align-center">
  <% if request.env['PATH_INFO'] == user_path(@user) %>
  <%= image_tag @user.profile_img.large.url , class: "img-thumbnail" %>
  <% else %>
  <a href=<%= user_path(@user)%> class="thumbnail">
    <%= image_tag @user.profile_img.large.url %>
    <% end %>
  </a>
</p>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">
      <%= @user.name %>
    </span>
    Nickname:
  </li>
  <li class="list-group-item">
    <span class="badge">
      <%= @user.email %>
    </span>
    Email:
  </li>
  <li class="list-group-item">
    <span class="badge">
      <%= @user.posts.count %>
    </span>
    Posts:
  </li>
  <li class="list-group-item">
    <span class="badge">
      <%= time_ago_in_words(@user.created_at)%> ago
    </span>
    Joined:
  </li>
</ul>
