
<% if @post.errors.any? %>
  <p>Something goes wrong:</p>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f|%>
  <p>
    <%= f.label "title" %></br>
    <%= f.text_field :title , :id=>"post_name",class: "form-control" %>
   </p>
  <p>
    <%= f.label :body %></br>
    <%= f.text_area :body, :id=>"post_val", class: "form-control", rows: "4" %>
  </p>
  <p>
    <%= f.label :image %></br>
    <%= f.file_field :image, :id=>"img", class: "form-control"%>
  </p>
  <p>
    <% if @post.image %>
    <%= image_tag @post.image.small.url, class: "img-rounded" %>
    <% end %>
  </p>
    <%= f.label "Delete current post image" %></br>
    <%= f.check_box :remove_image %>
  </p>
    <%= f.submit name, :id=>"post_send" %>
<% end %>
