
<div class="row border-top-bot">
<div class="col-sm-3 hidden-xs profile border">
  <div class="">
    <div class="x date"><b class=""><%=  @post.user.name  %></b></div>
    <div><img src=<%= @post.user.profile_img.small.url %> class="" alt="" /></div>
    <div class="x"><b><%= link_to "Profile page" , user_path(@post.user)%>
</b></div>
    <div class="x back-col"><b><%= @post.user.id %></b></div>

  </div>
</div>

<div class="col-sm-8  post-body border">
  <p class="border margin-none date">
  <%=@post.user.name%>  posted:  <%=time_ago_in_words( @post.created_at.localtime)%> ago.
</p>
  <h1 class="align-center"><%= @post.title%>  </h1>
  <%= image_tag @post.image.medium.url, class: " rightfloat-img" %>
<p class="add-margin"><%= @post.body%></p>
</div>
</div>
<div class="row  border-top-bot ">

  <div class="col-sm-10 new-comment col-sm-offset-1 ">
 <div class="col-sm-8 col-sm-offset-2">
   <% if user_signed_in? %>
   <%= render :partial => "./comments/new_comment"%>
   <% else%>

   <p class="align-center">Sign in to post yours comment</p>
   <%end %>

 </div>
</div>
</div>

<div class=" col-sm-10 col-sm-offset-1 commentarys_container padding">
  <%= render :partial => "./comments/all_comments",  :locals => {:n=> -1 }%>
</div>

  <div class="col-sm-12 title btns">
    <%=link_to 'Main page', root_path, id: "Main page", class: "btn btn-success "%>
 <%if current_user == @post.user %>
    <%=link_to 'Edit post', edit_post_path(@post),class: "btn btn-warning ",id: "Edit"%>
    <%=link_to 'Delete post', post_path(@post.id),class: "btn btn-danger ", id: "Delete", method: :delete, data: {confirm: "Are you sure?"}%>
<% end %>
  </div>
