var value = $(".show_all").text()
if (value =='Show all' ){
$(".commentarys_container").html(
  '<h3 class="align-center ">Comments</h3>'+
  '<% @post.comments.order(created_at: :desc).limit(-1).each do |comment| %>'+
  '<div class="panel panel-default ">'+
  '<div class="panel-body padding-none">'+
    '<div class="row">'+
      '<div class="col-sm-2  ">'+
        '<%= image_tag comment.user.profile_img.thumb.url, class: "img-rounded" %>'+
      '</div>'+
      '<div class="col-sm-7 ">'+
        '<p class="comment-text"><b><%= comment.user.name %></b></p> <i><%= time_ago_in_words(comment.created_at) %></i> ago.'+
      '</div>'+
    '</div>'+
  '</div>'+
    '<div class="panel-footer"> <%= comment.text %></div></div>'+
  ' <% end %>'+
  '<div class="align-center"><a href="#" class="btn btn-success  show_all" data-remote="true">Hide</a>'+
  '</div>');
}
else {
  $(".commentarys_container").html("<%= j render :partial => './comments/all_comments',  :locals => {:n=> 2 }%>"
);

}
