<div class="block">
  <div class="col-sm-9 show-container  ">
    <h1 class="center-pos"><%= @post.title%></h1>
    <p class="body-text"><%= @post.body%></p>
  </div>
  <div class="col-sm-3  ">
    <%= image_tag @post.image.medium.url, class: "img-rounded" %>
  </div>
</div>
<div class="comments">
  <h3 class="center-pos">Add comment</h3>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <%= f.text_area :body, :id=>"comment_body", class: "form-control", rows: "2" %>
  <p>
      <%= f.submit "Add comment", :id=>"comment_submit"%>
  </p>
    <% end %>
</div>
<div class="col-xs-12 title btns">
  <%=link_to 'Main page', root_path, id: "Main page", class: "btn btn-success "%>
  <%=link_to 'Edit post', edit_post_path(@post),class: "btn btn-warning "%>
  <%=link_to 'Delete post', post_path(@post.id),class: "btn btn-danger ", id: "Delete", method: :delete, data: {confirm: "Are you sure?"}%>
</div>
