<h1 style="text-align: center"> <b class="blog"><%= @post.title%></b></h1>
<p class="blog"> <%= @post.body%></p>



<div>
<div style=" display:inline-block"><%= button_to "  Edit post  ", '#', method: "get" %></div>
<div style=" display:inline-block"><%= button_to "Delete post", '#',  method:"get" %></div>
<div style=" display:inline-block"><%= button_to "  Main page  ", root_path,  method:"get" %></div>
</div>
